@model SelectList

@{
    ViewBag.Title = "SetData";
}
<div class="col-md-6">
    <h2>Формирование отчета</h2>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Задайте настройки отчета
        </div>
        <div class="panel-body ">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    @Html.Label("texCount", "Число технологий:")
                    @Html.TextBox("texCount", null, new { @class = "form-control", placeholder = "Введите число" })
                </div>
                <div class="form-group">
                    @Html.Label("tex", "Технология:")
                    @Html.DropDownList("tex", Model, new { @class = "form-control", placeholder = "Выберите одно из доступных" })
                </div>
                <div class="form-group">
                    @Html.Label("cityCount", "Количество городов:")
                    @Html.TextBox("cityCount", null, new { @class = "form-control", placeholder = "Введите число" })
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Составить</button>
            }
        </div>
    </div>
</div>
